# Zig build artifacts
zig-cache/
zig-out/

# Editor/IDE specific files (examples)
.vscode/
.idea/
*.swp
*.swo

# Operating System specific files
.DS_Store
Thumbs.db

# Other common ignored files
*.log
*.tmp
main
